body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-image:url(nflpic.jpg);
    /*background-size: cover;*/
	/*background-repeat: no-repeat;*/
    

}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    background-color:#fff;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}
/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.table {
    background-color:indianred;
    
}

.table-header {
    background-color:lightskyblue;
    color: #fff;
}

.btn-default {
    background-color: #466289;
    color: #fff;
}

.profile {
    padding: 20px;
    background-color:#9d7a7a;
    color: #fff;
    box-shadow: 10px 10px 5px grey;
}

.name {
    text-align: center;
    font-size: 16px;
}

.heading {
    text-align: center;
    font-size: 40px;
    color: #fff;
}

.heading-container {
    padding: 10px 0;
    background: #0094ff;
}

.search {
    font-weight: 800;
    font-size: 14px;
}

.treatmentBackground {

   background-color:white;
}
